@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
}

.window {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f3ed;
}

.calculator {
  flex: 0 0 auto;
  border-radius: 25px;
  border: 15px solid #cabb95;
  width: 420px;
  background-color: #2a2926;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.screen {
  border-radius: 5px;
  background-color: #3d3c39;
  padding: 10px 15px;
  margin-bottom: 30px;
  height: 100px;
  overflow: hidden;
}

.main-display {
  color: #25e4ae;
  font-family: 'VT323', monospace;
  text-align: right;
  font-size: 50px;
  height:50px;
  text-overflow: ellipsis;
  overflow: hidden;

}

.sub-display {
  color: #25e4ae;
  font-family: 'VT323', monospace;
  text-align: right;
  font-size: 30px;
  height:30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 14px;
  margin-bottom: 10px;
}

.buttons div {
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  color: #292929;
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.buttons div:active,
.buttons .keyboard-down {
  border: none;
}

.number {
  background-color: #e9e6e3;
}

.tall {
  grid-row-end: span 2;
  background-color: #ea8717;
}

.long {
  grid-column-end: span 2;
}

.control {
  background-color: #cabb95;
}

.clear {
  background-color: #d9592a;
}

.buttons .text {
  font-size: 20px;
}

/* footer styles */
.footer {
  margin-top: 30px;
}

.footer,
.footer a,
.footer hover {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-decoration: none;
}